html {
  background-color: #333333;
  color: white;
}
h1 {
  color: white;
}
td {
  color: white;
}
p {
  color: white;
}
input {
  vertical-align: middle;
}
.UIContainer {
  width: fit-content;
  float: left;
}
main {
  width: fit-content;
  float: left;
  padding-inline: 10px;
}